#name-input{
  background-color: yellow;
}

#currently-playing-container{
  margin-left: 30vw;
  width: 40vw;
  background-color: orange;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
