#hand-container{
  margin-left: 40vw;
  margin-right: 30vw;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0.1vw;
}

.hand-item{
  background-color: #2196F3;
  width: 5vw;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 4vw;
  text-align: center;
}
